*{
  box-sizing: border-box;
  margin:0px ;
}
html{
  font-size: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.btn{
  border:none  ;
  outline: none;
  background: none ;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 250px 250px ;
  border:2px solid gold ;
  grid-gap: 10px;
}
.main{
  width:calc(100% - 300px) ;
  height: auto;
  margin-left:  300px;
}
a{
  text-decoration: none;
  color:#333 ;
  cursor: pointer;
}